 <head>
 <meta charset="utf-8" />

 <link rel="stylesheet" href="static/style.css" />

 </head>
 <nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1 id="name">Python Database</h1>
		</li>
	</ul>

 <nav>
 <section class="top-bar-section">
	<ul class="right ">
<!-- {% block head %} -->
<li><a href="/">Home</a></li>
<li><a href="/addForm">add</a></li>
<li><a href="/loginForm">login</a></li>
<li><a href="/profile/">Profile</a></li>
<li><a href="/logOut">Logout</a></li>
<li><a href="/sendEmail">Email</a></li>

<!-- {% endblock %} -->

			</ul>	
	</section>
	</nav> 
</nav>